/* #categoryList {
  max-height: 100px;
} */

#boxNum {
  width: 60px;
  height: 60px;
}

.answer {
  min-width: 50%;
}

#account {
  text-shadow: 3px 3px 10px black;
}

.categoryItem:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 10;
}
.difficultyItem:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 10;
}

.btn-default {
  background-color: blueviolet;
}

.bg-default {
  background-color: blueviolet;
  color: white;
}

.font-default {
  color: blueviolet;
}

.btn-outline-default {
    background-color: white;
    border-color: blueviolet;
    box-shadow: none;
  /* color: white; */
}
.categoryItem{
    min-width: 170px;
}
/* .categoryItem{
   display: inline;
} */

/* #categoryList {
    display: grid;
    grid-auto-flow: column;
  } */


  /* #categoryList{
    width: 750px;
  }

  .categoryItem{
    width: 170px;
    height: 100px;
  } */